@font-face{
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}
body{
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
}
.container{    
    width: 1920px;
    background: #EBEBEB;
}
.header{
    padding: 79px 0 144px 0;
}
.nav{
    display: block;
    margin: 0 910px 162px 399px;
}
.nav_item{
    display: inline-block;
    font-family: "Roboto";
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-left: 42px;
}
.nav_first{
    font-family: "Roboto-Medium";
    font-weight: 500;
    margin-left: 0;
}
.header_title{
    display: block;
    margin: 0 980px 60px 399px;
    font-family: "Roboto-Medium";
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: #000000;
}
.header_text{
    display: block;
    margin: 0 980px 65px 400px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.header_btn{
    width: 228px;
    height: 62px;
    margin: 0 1293px 0 399px;
    background: #500E0A;
    border-radius: 7px;
}
.text_btn{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.about{
    background: #E5E5E5;
    padding: 112px 0 100px 0;
}
.about_title{
    display: block;
    margin: 0 759px 50px 758px;
    font-family: "Roboto-Medium";
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}
.about_text{
    display: block;
    margin: 0 690px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.statistic{
    background: #500E0A;
    padding: 100px 0 103px 0;
}
.statistic_card{
    margin-left: 409px;
}
.statistic_img{
    display: inline-block;
    width: 50px;
    height: 50px;
}
.statistic_info{
    display: inline-block;
}
.info_number{
    font-family: "Roboto-Medium";
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;  
    color: #FFFFFF;
}
.info_text{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}