@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

body {
    box-sizing: border-box;
}

.fix_size {
    width: 1110px;
    margin: 0 auto;
}

.container {    
    background: #EBEBEB;
    font-family: "Roboto";
    font-weight: 400;
    color: #000000;
}

.font_title {
    font-family: "Roboto-Medium";
    font-weight: 500;
    color: #000000;
}

.header {
    padding: 79px 0 144px 0;
}

.nav {
    display: block;
    margin-bottom: 162px;
}

.nav_item {
    display: inline-block;
    margin-left: 42px;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1em;
    cursor: pointer;
    color: #000000;   
}

.nav_first {
    color: #500E0A;
    margin-left: 0;
}

.section_text {
    display: block;
    width: 540px;
    font-size: 16px;
    line-height: 26px;
}

.header_title {
    display: block;
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 48px;
}

.header_text {
    margin-bottom: 65px; 
}

.header_btn {
    width: 228px;
    height: 62px;
    background: #500E0A;
    border-radius: 7px;
    cursor: pointer;
}

.text_btn {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.about_background {
    background: #E5E5E5;
}

.about {
    padding: 112px 0 100px 0;
}

.about_title {
    display: block;
    margin-bottom: 50px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
}

.about_text {
    margin: 0 auto;
    text-align: center;  
}

.statistic_background {
    background: #500E0A;
}

.statistic {
    padding: 100px 0 103px 0;
}

.statistic_card {
    display: inline-block;
    margin-left: 45px;
}

.first_card {
    margin-left: 0;
}

.statistic_img {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.statistic_info {
    display: inline-block;
    margin-left: 20px;
}

.info_number {
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 21px;  
    color: #FFFFFF;
}

.info_text {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.video {
    margin-top: 57px;
}

.footer {
    background: #500E0A;
    padding: 50px 0;
}

.footer_title {
    font-size: 21px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer_text {
    margin-top: 20px;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
